@import "tailwindcss";
@import "@nuxt/ui";

@import "./prose.css";
@import "./animations.css";

@theme static {
    --font-sans: 'Jura', sans-serif;

    --color-green-50: #E0F2E8;
    --color-green-100: #BFEDD4;
    --color-green-200: #8EE3B8;
    --color-green-300: #4DD48E;
    --color-green-400: #00B85E;
    --color-green-500: #009649;
    --color-green-600: #00733C;
    --color-green-700: #005B30;
    --color-green-800: #014926;
    --color-green-900: #074224;
    --color-green-950: #031F10;

    --ui-color-neutral-50: #F2F2F2;
    --ui-color-neutral-100: #DDDDDD;
    --ui-color-neutral-200: #BBBBBB;
    --ui-color-neutral-300: #8C8C8C;
    --ui-color-neutral-400: #6A6A6A;
    --ui-color-neutral-500: #5C5C5C;
    --ui-color-neutral-600: #4E4E4E;
    --ui-color-neutral-700: #3A3A3A;
    --ui-color-neutral-800: #2A2A2A;
    --ui-color-neutral-900: #1A1A1A;
    --ui-color-neutral-950: #0F0F0F;
}

@source inline("backdrop-blur-xs bg-black/10");
